@import "tailwindcss";

@import "tailwindcss";

:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.light {
  --background: #ffffff;
  --foreground: #171717;
  --card-background: #f4f4f5;
  --card-border: rgba(0, 0, 0, 0.08);
  --text-secondary: #52525b;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --card-background: #27272a;
  --card-border: rgba(255, 255, 255, 0.145);
  --text-secondary: #a1a1aa;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
